.App {
  text-align: center;
}

:root {
  --primary: #d63c6b;
  --primary-dk: #c41c4f;
  --accent: #5cc8ff;
  --accent-dk: #00a3f5;
}

.App-header {
  background-image: linear-gradient(to bottom right, var(--accent) 0%, var(--primary) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: black;
}

.content{
  height: 10vh;
  width: 40vh;
}

.list{
  height: 40vh;
  width: 80vh;
}

.hidden{
  display: none;
}

